/* Enter your custom styles here */
/*
#__toolbar0{
    height: 45px;
}*/

/* Enter your custom styles here */
.sapMGenericTag{
    margin-bottom: 0.6rem !important;
}
.sidePadding {
    padding: 0 0.5rem;
}

.borderX {
    border-right: 1px ridge #d9d9d9;
    border-left: 1px ridge #d9d9d9;
}

.margin2 {
    margin: 0.5rem;
}

.bgAliceblue {
    background: #eff4f9;
}

.cursorPointer {
    cursor: pointer;
}

.padding1 {
    padding: 0.25rem;
}

.tabColor {
    background-color: aliceblue !important;
}
.paddingTop1 {
    padding-top: 0.25rem;
}

.borderRightRidge {
    border-right: 1px ridge #d9d9d9;
}

.borderRight {
    border-right: 1px ridge #d9d9d9;
}

.mbTag {
    margin-bottom: 0.15rem !important;
}

.warningBGColor {
    background-color: #f9a429 !important;
}
.selHdrKeyFontStyle {
    font-style: italic;
    font-weight: bold;
}

.tabColumnRowsBgColor .sapUiTableTr.sapUiTableRowSel, 
.tabColumnRowsBgColor .sapUiTableRowSelectionCell.sapUiTableRowSel, 
.tabColumnRowsBgColor .sapUiTableRowActionCell.sapUiTableRowSel {
    background-color: #ffffff !important;
}
.sapMITBHead {
    margin: 0 !important;
}

.marginTopNone {
    margin-top: 0 !important;
}
.activeRow {
    background-color: #e1ebf3 !important;
}

/*.sapUiCompFilterBarNonPhone.sapUiRespGrid.sapUiRespGridHSpace0{*/
.sapUiRespGrid{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    /*padding-right: 2rem;
    padding-left: 2rem;*/
}

/* sapUiRespGridSpanXL8 {
    margin-bottom: 100px !important
} */

.requiredField {
    color: red !important;
}

/* Configuration for Splitter */

/* #__data27{
    height: 85%;
} */

/* #container-zuivendorpo---main--itbDetail{
    position: relative;
} */

.VBOXHdrSize{
    height: 100%;
}
.VBOXHdrSize2{
    height: 85%;
}
.vboxHeight > .sapMFlexItem {
    height: 100%;
}
/* .sapMFlexItem{
    height: 100%;
} */
.vboxHeight {
    height: 76%;
    padding-left: 0rem;
    padding-right: 0rem;
}


/* For Full Screen Style */
.onAddvboxHeight {
    height: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
}
.addDesignSection2 {
    position: absolute;
    height: 100%;
}
/* For Full Screen Style */


.vboxHeightPODet > .sapMFlexItem {
    height: 100%;
}
.vboxHeightPODet {
    height: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
}
.iconTabPOHdrFrag > .sapMITH {
    height: 0px;
}
.designSection2 {
    position: relative;
}

#__splitter0-content-1{
    display: flex;
}
.sapMFlexItem--poObjectHdr{
    height: auto;
}
.formHdr1{
    padding-top: 10px;
}
/* .sapUiSizeCompact .sapMInputBaseHeightMargin {
    margin: 0rem 0 !important;
} */
.vpoDetSection{
    position: relative;
    height: 100%;
}

/* START: Spacing Between Forms */
.sapUiRespGrid{

    padding-top: 1rem !important;

    padding-bottom: 1rem !important;
    
}

.sapUiRespGridSpanXL8{
    margin-bottom: 5px !important;
}

.sapMOHR{
    padding-top: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 0.5rem !important;    
}

.sapMOHRStates {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;  
    width: 100%;
    max-width: 95rem;
    padding: 0;
}   

.sapMITBHead {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin: 0.25rem 0.25rem 0 0.25rem;
    margin-top: 0.25rem !important;
    margin-right: 0.25rem !important;
    margin-bottom: 0px !important;
    margin-left: 0.25rem !important;
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;  
    vertical-align: top;
    font-size: 0.25rem;
}

.sapMITH {
    box-shadow: inherit;
    border-top: 0.125rem solid #d1e0ee;
    border-bottom: 0.125rem solid #d1e0ee;
}

.sapUiFormResGrid>div {
    padding: 1rem 1rem !important;
    box-sizing: border-box !important;
}

/*IO Header Form input Box minimized spacing*/
.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont>div {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: 1px !important;
}

.sapUiSizeCompact .sapMInputBaseHeightMargin {
    margin: 0rem 0 !important;
}
span[data-row-active-class=X] {
    background-color: #c9fcd5 !important

}
/* IconTabBar spacing adjustment */
.sapMITB.sapUiResponsiveContentPadding>.sapMITBContainerContent>.sapMITBContent {
    padding: 0rem !important;
    box-sizing: border-box;
}

/* Icon Filter Tab height adjustment */
.sapMITBInLine .sapMITBFilter>.sapMITBText {
    margin: 0.3em 0 0.1875rem 0 !important;
}

.sapMITBInLine.sapMITBTextOnly>.sapMITBVertical {
    height: 1.6rem !important;
}

/*Icon Tab Filter : underline for selected Tab*/
.sapMITBInLine.sapMITBTextOnly>.sapMITBVertical.sapMITBFilter>.sapMITBText + .sapMITBContentArrow {
    height: 0.1rem;
}

.sapUiSizeCompact .sapMCb {
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.sapUiVlt.sapUiContentPadding {
    padding: 0.2rem !important;
    box-sizing: border-box;
}

.sapUiVlt.sapUiContentPadding>.sapuiVltCell:not(:last-child) {
    padding-bottom: 0rem !important;
    box-sizing: border-box;
}
/* END: Spacing Between Forms */

.sapMListItems {
    max-height: 250px;
    overflow: auto;
}

.vendorPO .sapMITBContent,
.vendorPODtl .sapMITBContent {
    border-bottom: none !important;
}

.vendorPO .procFlowOverflow,
.vendorPODtl .procFlowOverflow {
    overflow: auto;
}

.vendorPO .sapUiLoSplitterContent,
.vendorPODtl .sapUiLoSplitterContent {
    overflow: hidden;
}